<!DOCTYPE html>
<html>
<head>
  <title th:text="${title}">Title</title>
  <link rel="icon" type="image/png" href="/img/img.png">
  <link rel="stylesheet" href="/css/personalrecipes.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="veggie-image"></div>
<div class="hero-image">
<!--  <img src="/img/Backgrounds/ffffff.png" alt="Hero Image">-->
  <div class="title-container">
    <div class="title-container">
      <h1 th:if="${currentUser?.username == profileUser?.username}">
        My Personal Recipes
      </h1>
      <h1 th:if="${currentUser?.username != profileUser?.username}">
        <span th:text="${profileUser?.username}"></span>'s Personal Recipes
      </h1>
    </div>
  </div>
</div>
  <li th:each="recipe : ${personalRecipes}" class="favorite-recipe">
    <a th:href="@{'/recipes/' + ${recipe.id}}" th:text="${recipe.title}"></a>
  </li>
</ul>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
