<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>User Profile</h1>
<!-- details about the current user -->
<a th:href="@{/recipes/new}" sec:authorize="isAuthenticated()">Create Recipe</a>


<!-- Display the saved recipe details, if available -->
<div th:if="${savedRecipe}">
    <h2>Saved Recipe Details:</h2>
    <p>Title: <span th:text="${savedRecipe.title} ?: 'No title'"></span></p>
</div>
<div>
    <h3>Have a nice restaurant experience? Tell everyone a little about it!</h3>
    <div sec:authorize="isAuthenticated()" class="nav-item">
        <button th:classappend="${selectedPage == 'posts-create'} ? active" class="nav-link" href="/posts/create" style="padding-right: 0.5rem; padding-left: 0.5rem;">Create Blog Post</button>
        &nbsp;
    </div>
</div>

<ul th:if="${mealPlanners}">
    <h2>Meal Planner</h2>
    <li th:each="mealPlanner : ${mealPlanners}">
        <span th:text="${mealPlanner.date} ?: 'No date'"></span>:
        <span th:text="${mealPlanner.recipe.title} ?: 'No recipe title'"></span>
    </li>




<div th:replace="partials/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
