<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title>User Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>User Profile</h1>
<!-- details about the current user -->
<a th:href="@{/recipes/new}" sec:authorize="isAuthenticated()">Create Recipe</a>

<h2>Meal Planner</h2>
<ul>
  <li th:each="mealPlanner : ${mealPlanners}">
    <span th:text="${mealPlanner.date}"></span>:
    <span th:text="${mealPlanner.recipe.title}"></span>
  </li>
</ul>


<div th:replace="partials/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
