<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Sign up</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
  <label for="username">Username</label>
  <input id="username" th:field="*{username}" />
  <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>

  <label for="email">Email</label>
  <input id="email" th:field="*{email}" />
  <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
  <label for="password">Password</label>
  <input id="password" type="password" th:field="*{password}" />

  <select id="dietaryPreferences" th:field="*{dietaryPreferences}">
    <option th:each="dietStyle : ${allDietStyles}" th:value="${dietStyle.id}" th:text="${dietStyle.name}"></option>
  </select>


  <div th:each="allergen : ${allAllergens}">
    <input type="checkbox" th:id="${'allergy-' + allergen.id}" th:value="${allergen.id}" th:field="*{allergyList}" />
    <label th:for="${'allergy-' + allergen.id}" th:text="${allergen.name}"></label>
  </div>


  <label for="otherAllergies">If you selected "Other", please specify:</label>
  <input id="otherAllergies" th:field="*{otherAllergies}" />

  <div th:if="${message}" class="alert alert-danger" role="alert">
    <span th:text="${message}"></span>
  </div>

  <input value="Sign me up!" type="submit" />
</form>
<div th:replace="~{partials/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
