body { background: linear-gradient(175deg , #fff5ec, #eedbc5, rgb(255, 213, 182) 15%, #ffa562); }
.navbar, .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-row:nth-child(odd) .card {
    margin-bottom: 100px;
}

.navbar, .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-row {
    flex-wrap: nowrap;
}
.card {
    flex-grow: 1;
}
.card-width {
    max-width: 70%;
}


.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-grow {
    flex-grow: .5;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}
