.footer {
    padding: 1rem;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Add this line */
}

.footer-img {
    max-height: 7em;
    width: auto;
    order: 1;
    text-align: center;
    margin-right: 10em;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
}
.footer-right{
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

/*.footer-img {*/
/*    max-height: 7em;*/
/*    width: auto;*/
/*    margin-left: -30em;*/
/*}*/

.footer h3 {
    color: #fff;
}

.footer p {
    color: #ccc;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    color: rgba(206, 205, 205, 0.9);
}
.footer-brand{
    font-size: 50px;
    margin-right: 1em;
}