
.footer {
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(175deg, #fff5ec, #eedbc5, rgb(255, 213, 182) 15%, #ffa562);
    min-height: 100vh;
    overflow-x: hidden;
    /*justify-content: space-between;*/
}

.hero-image {
    background-color: rgba(255, 255, 255, 0.91);
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.title-container h1 {

    font-size: 44px;
    color: black;
    background-color: rgba(234, 137, 96, 0.91);
    padding: 10px 20px;
    border-radius: 8px;
}
.content-wrapper {
    flex: 1 0 auto;
}
.favorite-recipe {
    background-color: rgba(255, 255, 255, 0.81);
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.recipe-name, .creator {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}
a{
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}
.recipe-name:hover, .creator:hover {
    color: #FF5838;
}
.eggplant-image {
    background-image: url('../img/Backgrounds/Eggplant.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 750px; /* Adjust the top position */
    left: 50px; /* Adjust the left position */
    width: 400px;
    height: 400px;
    transform: rotate(242deg); /* Rotate 65 degrees */
    z-index: -1; /* Set a lower z-index to move it behind other elements */
}

.veggie-image {
    background-image: url('../img/Backgrounds/Veggie.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    right: 90px;
    width: 700px;
    height: 750px;
    transform: rotate(70deg);
    z-index: 1;
    overflow: hidden;
}
.whisk-image {
    background-image: url('../img/Backgrounds/Whisk.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 395px;
    right: 0px;
    width: 300px;
    height: 300px;
    transform: rotate(40deg);
    z-index: 1;
}
.pot-image {
    background-image: url('../img/Backgrounds/Pot.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 50px;
    right: -2px;
    width: 500px;
    height: 400px;
    z-index: -1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}
a {
    color: black; /* Set the color for regular links */
    text-decoration: none; /* Remove underlines from links */
    transition: color 0.3s; /* Add a smooth color transition on hover */
}

a:hover {
    color: #FF5838; /* Change the link color on hover */
}

td{
    background-color: rgba(234, 137, 96, 0.7);
    font-size: 34px;
    font-weight: bold;

}
body {
    background: linear-gradient(175deg , #fff5ec, #eedbc5, rgb(255, 213, 182) 15%, #ffa562);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.col{
    padding-top: 10px;

}
.card-link-set{
    color: blue;
    text-decoration: underline;
}