body {
    background: linear-gradient(175deg , #fff5ec, #eedbc5, rgb(255, 213, 182) 15%, #ffa562);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.content-wrapper{
    flex-grow: 1;
}
.flour-image {
    background-image: url('../img/Backgrounds/Flour.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 80px;
    right: 10px;
    width: 300px;
    height: 300px;
    transform: rotate(13deg);
    z-index: 3;
}
.footer {
    flex-shrink: 0;
}
