body {
    background: linear-gradient(175deg , #fff5ec, #eedbc5, rgb(255, 213, 182) 15%, #ffa562);
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative; /* Add this line */
    width: 100%; /* Add this line */
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 350px;
    height: 400px;
}

:root {
    --primary-color: #ea8960;
    --hover-color: #ff5838;
}

.background-search {
    background-image: url('../img/search-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
}

.searchbar-sizing {
    width: 24rem;
    height: 3rem;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.btn-primary:hover {
    background-color: var(--hover-color);
}
.profile-card {
    width: 50%;
    height: 400px;
    margin-top: 2em;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.calendar-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#greeting {
    margin-top: 2em; /* Push the greeting down */
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for 7 days of the week */
    grid-auto-rows: 250px; /* Set a minimum row size */
    grid-gap: 0; /* Space between each day */
    padding: .5em; /* Padding around the calendar */
    width: 90%; /* Adjust this to control the width of the calendar */
    max-width: 1200px; /* Prevent the calendar from becoming too wide on large screens */
}

.container{
    width: 800px;
}

.day {
    border: 1px solid #212121; /* Border around each day */
    padding: .5em; /* Padding inside each day */
    text-align: left; /* Align text to the left */
    vertical-align: top; /* Align text to the top */
    background-color: rgba(224, 224, 224, 0.29);
    overflow: auto; /* Add this line */
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
}

.today {
    background-color: #ff5838; /* Highlight today with a different background color */
    color: #fff; /* White text for today */
}

.day a {
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    color: #333;
}

.day a:hover {
    font-size: 1.1em;
    color: #ff5838;
}

/* Style for the "Create Recipe", "Favorites", and "Personal Recipes" buttons */
a[href*="/recipes/new"], a[href*="/users/"], a[href*="/profile/personal-recipes"] {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a[href*="/recipes/new"]:hover, a[href*="/users/"]:hover, a[href*="/profile/personal-recipes"]:hover {
    background-color: var(--hover-color);
}

.content-sections {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1em;
    margin-top: 10em;
    margin-left: 4em;
}

.blog-content{
    max-width: 350px;
}
.blog-posts, .calendar {
    margin: 1.5em;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    align-items: center; /* Add this line */
}



.card.profile-card {
    position: relative;
    z-index: 2;
}
.shroom-image {
    background-image: url('../img/Backgrounds/Shroom.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -250px; /* Align to the bottom */
    right: 0; /* Align to the right */
    width: 500px;
    height: 500px;
    z-index: 1; /* Layering order */
}

.veggie-image {
    background-image: url('../img/Backgrounds/Veggie.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; /* Fixed position */
    top: 100px; /* Adjust the top position */
    left: -170px; /* Adjust the left position */
    width: 500px;
    height: 600px;
    transform: rotate(65deg); /* Rotate 45 degrees */
    z-index: 1; /* Layering order */
}
.profile-card .buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

/* Style for the "About Me" section */
.profile-card .about-me {
    margin-top: 10px;
    font-style: italic;
}

/* Centering titles */
.blog-posts h3, .calendar h3 {
    text-align: center;
}

/* Adding margin to the blog post card */
.card.ms-3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Changing the "Read More" link color */
.card-link {
    color: var(--primary-color); /* Change to the red color */
}

.card-link:hover {
    color: var(--hover-color); /* Change to the hover red color */
}