/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#hello user {
    /* Your CSS styles for the title text here */
    font-size: 36px;
    font-weight: bold;
    color: #333;
    /* Add any other styles you want */
}
/* Styling for the container that holds the gold stars */
.gold-stars-container {
    display: inline-block;
    vertical-align: middle; /* Align the stars vertically with the rating */
    margin-left: 10px; /* Adjust the spacing between the rating and stars as needed */
}

/* Styling for the gold stars */



#gold-stars {
    color: gold; /* Set the color of the stars to gold */
    font-size: 20px; /* Adjust the size of the stars as needed */
}

/* Optional: Add some spacing between the stars and the rating value */
.gold-stars-container {
    margin-right: 5px;
}






/* Example CSS styles for the search bar */
/*#searchInput {*/
/*    padding: 5px;*/
/*    width: 200px;*/
/*    margin-right: 5px;*/
/*}*/

/*#searchButton {*/
/*    padding: 5px 10px;*/
/*    background-color: #ddd;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*#searchResults {*/
/*    margin-top: 10px;*/
/*}*/
.card {
    width: 300px;
    height: 400px;
}