
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(175deg, #fff5ec, #eedbc5, rgb(255, 213, 182) 15%, #ffa562);
}

.content-wrapper {
    flex-grow: 1;
}

.navbar, .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
:root {
    --primary-color: #ff5838; /* Default primary color - blue */
    --hover-color: #ff5838;   /* Hover color - darker shade of blue */
}


.background-search {
    background-image: url('../img/search-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    box-shadow: 0 10px 4px rgb(229, 115, 67);
    border-radius: 20px;
}

.col-6{
    border-radius: 30px;
}
.searchbar-sizing {
    width: 24rem;
    height: 3rem;
    border-radius: 30px;

}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect */
.btn.btn-primary:hover {
    background-color: var(--hover-color);
}
.card {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.91);
}

h1{
    text-align: center;
    font-size: 24px;
    color: #333;


}
h2 {
    text-align: center;
    font-size: 24px;
    color: #333;

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.login-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gold-stars-container::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    color: gold;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
}


.gold-stars-container {
    margin-right: 5px;
}


.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ea8960;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #ff5838;
}

.search-form input {
    text-align: center;
    font-size: 24px;
}

.card-img-top{
    max-height: 200px;
    width: auto;
}

.card-show{
    display: flex;
    justify-content: center;
}

#greeting{
    font-size: 35px;
    margin: 0;
}