/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#hello user {
    /* Your CSS styles for the title text here */
    font-size: 36px;
    font-weight: bold;
    color: #333;
    /* Add any other styles you want */
}
body {
    background: linear-gradient(175deg ,#7a7876 15% , #ff5838, #74281d, #290a07);
}

.card {
    width: 300px;
    height: 400px;
}