<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Recipe</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<form action="#" th:action="@{/recipes/new}" th:object="${recipe}" method="post">
  <input type="text" th:field="*{title}" placeholder="Title">
  <textarea th:field="*{ingredients}" placeholder="Ingredients example: 2 eggs, 1 cup milk"></textarea>
  <textarea th:field="*{instructions}" placeholder="Instructions"></textarea>
  <input type="text" th:field="*{tools}" placeholder="Tools">
  <input type="text" th:field="*{photo}" placeholder="Photo URL">
  <input type="text" th:field="*{difficulty}" placeholder="Difficulty">
  <input type="number" th:field="*{time}" placeholder="Time">
  <input type="text" th:field="*{region}" placeholder="Region">
  <input type="submit" value="Create Recipe">
</form>
</body>
</html>
