<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link rel="icon" type="image/png" href="/img/img.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Devcss.css">
    <link rel="stylesheet" href="/css/DevCards.css">
    <script src="https://kit.fontawesome.com/d7c23920df.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{partials/navbar :: navbar}"></div>
<div class="container">
    <h1 class="mt-5 text-center">About Us</h1>
    <div class="grid-container">
        <div class="card green">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Level 13
                    </div>
                    <div class="points center">
                        5,312 Points
                    </div>
                    <div class="profile-pic center">
                        <img src="/img/Evil.jpg" alt="Developer Name">
                    </div>
                </div>
                <div class="more-info">
                    <h1>Benjamin Meadors</h1>
                    <div class="coords">
                        <span>"The Postmaster"</span>
                        <span>Highly driven software developer and Air Force Veteran</span>
                    </div>
                    <div class="coords">
                        <span>Position/Role</span>
                        <span>City, Country</span>
                    </div>
                    <div class="stats">
                        <div class="d-flex justify-content-space-evenly">
                            <a href="https://www.linkedin.com/in/benjamin-meadors/" target="_blank"><i
                                    class="fa-brands fa-linkedin m-2" style="color: #c54a07;"></i></a>
                            <a href="https://github.com/Ben-Meadors" target="_blank"><i class="fa-brands fa-github m-2"
                                                                                        style="color: #c54a07;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>Benjamin Meadors</h1>
                <p>Highly driven software developer and Air Force Veteran with experience in managing teams, overlooking
                    projects and troubleshooting complex problems. Motivated to continue learning and honing my skill
                    sets to contribute to the growth of productive software applications.</p>
                <span class="more">Mouse over the card for more info</span>
            </div>
        </div>

        <div class="card red">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Level 32
                    </div>
                    <div class="points center">
                        1990 Points
                    </div>
                    <div class="profile-pic center">
                        <img src="/img/JosephFuentes.jpg" alt="Developer Name">
                    </div>
                </div>
                <div class="more-info">
                    <h1>Joseph Fuentes</h1>
                    <div class="coords">
                        <span>"Review Wrangler"</span>
                        <span>I'm a passionate full-stack developer with a love for coding</span>
                    </div>
                    <div class="coords">
                        <span>Position/Role</span>
                        <span>City, Country</span>
                    </div>
                    <div class="stats">
                        <div class="d-flex justify-content-space-evenly">
                            <a href="https://www.linkedin.com/in/joseph-fuentes1" target="_blank"><i
                                    class="fa-brands fa-linkedin m-2" style="color: #c54a07;"></i></a>
                            <a href="https://github.com/Jf0311" target="_blank"><i class="fa-brands fa-github m-2"
                                                                                   style="color: #c54a07;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>Joseph Fuentes</h1>
                <p>I'm a passionate full-stack developer with a love for coding and a thirst for challenges. Proficient
                    in Java, HTML, jQuery, JavaScript, CSS, and Spring Boot, I'm on the lookout for an exciting role to
                    apply my skills. When not coding, I enjoy exploring the world through travel, embracing new
                    experiences, and savoring my favorite food, pizza. Let's tackle challenges together and create
                    cutting-edge solutions!</p>
                <span class="more">Mouse over the card for more info</span>
            </div>
        </div>
        <div class="card">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        E-5
                    </div>
                    <div class="points center">
                        USMC
                    </div>
                    <div class="profile-pic center">
                        <img src="/img/img_1.png" alt="Developer Name">
                    </div>
                </div>
                <div class="more-info">
                    <h1>Liam O'Connor</h1>
                    <div class="coords">
                        <span>Marine Veteran</span>
                    </div>
                    <div class="coords">
                        <span>The Exterminator</span>
                        <span>Louisville, KY</span>
                    </div>
                    <div class="stats">
                        <div class="d-flex justify-content-space-evenly">
                            <a href="https://www.linkedin.com/in/liam-a-oconnor/" target="_blank"><i
                                    class="fa-brands fa-linkedin m-2" style="color: #c54a07;"></i></a>
                            <a href="https://github.com/Liam0C0NN0R" target="_blank"><i class="fa-brands fa-github m-2"
                                                                                        style="color: #c54a07;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>Liam O'Connor</h1>
                <p>experienced in cultivating teams, managing
                    projects, and finding solutions to complex challenges. Nerds out over TLOTR, Pokemon, Sci-Fi/Fantasy
                    books, and enjoys classic board game nights. Father to 2 cats and a GSD.</p>
            </div>
        </div>
        <div class="card blue">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        LEVEL 19
                    </div>
                    <div class="points center">
                        2004 POINTS
                    </div>
                    <div class="profile-pic center">
                        <img src="/img/Logan.jpeg" alt="Developer Name">
                    </div>
                </div>
                <div class="more-info">
                    <h1>Logan Rodriguez</h1>
                    <div class="coords">
                        <span>"The API Guy"</span>
                    </div>
                    <div class="coords">
                        <span>Position/Role</span>
                        <span>San Antonio, Texas</span>
                    </div>
                    <div class="stats">
                        <div class="d-flex justify-content-space-evenly">
                            <a href="http://www.linkedin.com/in/logan-rodriguez04" target="_blank"><i
                                    class="fa-brands fa-linkedin m-2" style="color: #c54a07;"></i></a>
                            <a href="https://github.com/rodriguezlogan" target="_blank"><i
                                    class="fa-brands fa-github m-2"
                                    style="color: #c54a07;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>Logan Rodriguez</h1>
                <p>Eager Full Stack Software Developer, been in STEM environment since the age of 11. Enjoys long walks on the beach.</p>
                <span class="more">Mouse over the card for more info</span>
            </div>
        </div>

        <div class="card black">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        "P_Reli"
                    </div>
                    <div class="points center">
                        Austin,TX
                    </div>
                    <div class="profile-pic center">
                        <img src="/img/Patrick.jpg" alt="Developer Name">
                    </div>
                </div>
                <div class="more-info">
                    <h1>Patrick Mireles</h1>
                    <div class="coords">
                        <span>Technical Director</span>
                        <span></span>

                    </div>
                    <div class="coords">
                        <span></span>
                    </div>
                    <div class="stats">
                        <div class="d-flex justify-content-space-evenly">
                            <a href="https://www.linkedin.com/in/patrick-mireles-161a5367/" target="_blank"><i
                                    class="fa-brands fa-linkedin m-2" style="color: #c54a07;"></i></a>
                            <a href="https://github.com/preli03" target="_blank"><i class="fa-brands fa-github m-2"
                                                                                    style="color: #c54a07;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>Patrick Mireles</h1>
                <p>A Full Stack Web Developer with experience in JAVA, JS, Python and other web technologies. My goal as a web developer is to some day work for WWE web applications. On my days off, you can find me downtown at the Paramount.</p>
                <span class="more"></span>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="~{partials/footer :: footer}"></div>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
