<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>

</head>

<body>

<h1>This is the home page</h1>

<header>
    <h1>BiteBook</h1>

    <label for="searchInput">Search:</label>

    <input type="text" id="searchInput" placeholder="Search easy/medium/difficult...">
    <button id="searchButton">Search</button>
    <div id="searchResults"></div>

</header>
HELLO!
<footer>
    <p>© 2023 Your Food Recipe. All rights reserved.</p>
</footer>
<script src="/javascript/keys.js"></script>

</body>
</html>
