<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME (BiteBook)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../../resources/static/css/style.css">
</head>



<div th:replace="partials/navbar :: navbar"></div>


<h1>This is the home page</h1>


<head>
    <h1>BiteBook</h1>

    <hr>

    <h1 id="hello user">HELLO "USERNAME"</h1>


    <hr>
    <title></title>



    <form th:action="@{/recipes/search}">
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        <input type="submit" value="Search" />
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>

    <!-- loop through and display each recipe -->

    <ul>
        <th:block th:each="recipe : ${recipes}">
            <li>
                <a th:href="@{/recipes/{id}(id=${recipe.recipeid})}" th:text="${recipe.title}"></a>
            </li>
        </th:block>
    </ul>

    <div th:replace="partials/footer :: footer"></div>
    <script type="text/javascript">
       function clearSearch() {
            window.location = " ";
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>





<section id="popularRecipes">
    <h2>Trending Recipes</h2>

    <div id="recipeList" class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="/img/Shepherds-Pie.webp" class="card-img-top" alt="Recipe Name">
                <div class="card-body">
                    <h5 class="card-title">Recipe Name</h5>
                    <p class="card-text">Cook time: 45 mins</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/Shepherds-Pie.webp" class="card-img-top" alt="Recipe Name">
                <div class="card-body">
                    <h5 class="card-title">Recipe Name</h5>
                    <p class="card-text">Cook time: 45 mins</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/Shepherds-Pie.webp" class="card-img-top" alt="Recipe Name">
                <div class="card-body">
                    <h5 class="card-title">Recipe Name</h5>
                    <p class="card-text">Cook time: 45 mins</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/Shepherds-Pie.webp" class="card-img-top" alt="Recipe Name">
                <div class="card-body">
                    <h5 class="card-title">Recipe Name</h5>
                    <p class="card-text">Cook time: 45 mins</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="readyRecipes">
    <h2>Ready in 15MINS Recipes</h2>

    <div id="readyList" class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="/img/Shepherds-Pie.webp" class="card-img-top" alt="Recipe Name">
                <div class="card-body">
                    <h5 class="card-title">Recipe Name</h5>
                    <p class="card-text">Cook time: 15 mins</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/Shepherds-Pie.webp" class="card-img-top" alt="Recipe Name">
                <div class="card-body">
                    <h5 class="card-title">Recipe Name</h5>
                    <p class="card-text">Cook time: 15 mins</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/Shepherds-Pie.webp" class="card-img-top" alt="Recipe Name">
                <div class="card-body">
                    <h5 class="card-title">Recipe Name</h5>
                    <p class="card-text">Cook time: 15 mins</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="/img/Shepherds-Pie.webp" class="card-img-top" alt="Recipe Name">
                <div class="card-body">
                    <h5 class="card-title">Recipe Name</h5>
                    <p class="card-text">Cook time: 15 mins</p>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- adding a recommendation searchFinder-->

<div class ="container">
    <h2>RecipeFinder</h2>
    <form>
        <label for="search"></label><input type="text" id="search" placeholder="enter ingredient">
        <button type="button" id="submit" class="btn">Search</button>
    </form>
</div>


<footer>
    <p>© 2023 BITEBOOK. All rights reserved.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="/javascript/keys.js"></script>
<script src="/javascript/recipe.js"></script>
<script src="/../recommendation.js"></script>
<script src="/javascript/nutrition.js"></script>


</html>
