<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<header>
    <h1>BiteBook</h1>
</header>
HELLO!
<footer>
    <p>© 2023 Your Food Recipe. All rights reserved.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="/javascript/keys.js"></script>
<script src="/javascript/nutrition.js"></script>
</body>
</html>
