<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}">Title</title>
    <link rel="icon" type="image/png" href="/img/img.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/css/recipeDetail.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" type="image/png" href="/img/img.png">

    <script src="/javascript/ratings.js" defer></script>
</head>
<body>
<div th:replace="~{partials/navbar :: navbar}"></div>
<div class="hero-image">
    <img src="/img/img_3.png" alt="Hero Image">
    <div class="title-container">
        <h1 th:text="${recipes.title}"></h1>
    </div>
</div>
    <br>
    <h3>Created by: <a th:href="@{'/users/' + ${recipes.user.id}}"> <span th:text="${recipes.user.username}"></span></a></h3>
    <br>
<div class="container text-center">
    <div class="row">
        <div class="col-4">
            <div class="card recipe-card">
                <img th:src="${recipes.photo}" alt="Recipe photo" class="card-img-top recipe-img">
            </div>
        </div>
        <div class="col-4">
            <div class="card recipe-card">
                <div class="card-body">
                    <!-- Allergens and Diet Styles Section -->
                    <div class="allergens-diet-styles">
                        <!-- Allergens -->
                        <div class="allergens" th:if="${recipeAllergens.size() > 0}">
                            <h3>Allergens:</h3>
                            <ul th:each="allergen : ${recipeAllergens}">
                                <li th:text="${allergen.name}"></li>
                            </ul>
                        </div>
                        <!-- Diet Styles -->
                        <div class="diet-styles" th:if="${recipeDietStyles.size() > 0}">
                            <h3>Diet Styles:</h3>
                            <ul th:each="dietStyle : ${recipeDietStyles}">
                                <li th:text="${dietStyle.name}"></li>
                            </ul>
                        </div>
                        <!-- Time -->
                        <div class="time">
                            <h3>Cooking Time:</h3>
                            <p th:text="${recipes.time + ' minutes'}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-4">
            <!-- Nutrition Facts Card -->
            <div class="card recipe-card">
                <div class="card-body">
                    <div class="card-header text-center">
                        <h3>Nutrition Facts</h3>
                    </div>
                    <table class="table table-borderless">
                        <tr>
                            <td>Calories:</td>
                            <td th:text="${recipes.calories}" ></td>
                        </tr>
                        <tr>
                            <td>Protein:</td>
                            <td th:text="${recipes.protein + 'g'}"></td>
                        </tr>
                        <tr>
                            <td>Sugar:</td>
                            <td th:text="${recipes.sugar + 'g'}"></td>
                        </tr>
                        <tr>
                            <td>Fats:</td>
                            <td th:text="${recipes.fats + 'g'}"></td>
                        </tr>
                        <tr>
                            <td>Carbs:</td>
                            <td th:text="${recipes.carbohydrates + 'g'}"></td>
                        </tr>
                        <tr>
                            <td>Fibre:</td>
                            <td th:text="${recipes.fibre + 'g'}"></td>
                        </tr>
                        <tr>
                            <td>Sodium:</td>
                            <td th:text="${recipes.sodium + 'g'}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Second container for ingredients and instructions -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card my-2">
                <div class="card-body">
                    <h3 class="card-title">Ingredients :</h3>
                    <p class="card-text text-center" th:text="${recipes.ingredients}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mt-3 mb-2">
                <div class="card-body">
                    <h3 class="card-title">Instructions :</h3>
                    <p class="card-text text-center" th:text="${recipes.instructions}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button Container - Only show if the user is logged in -->
<div th:if="${currentUser != null}" class="button-container">
    <!-- Buttons on the Left - Only show if the current user is the creator of the recipe -->
    <div th:if="${currentUser.username == recipes.user.username}" class="left-buttons">
        <!-- Only show the delete button if the current user is the creator of the recipe -->
        <form th:action="@{/recipes/{id}(id=${recipes.recipeid})}" th:method="delete">
            <button type="submit" class="custom-button">Delete</button>
        </form>
        <!-- Only show the edit button if the current user is the creator of the recipe -->
        <button type="button" class="custom-button" data-toggle="modal" data-target="#editRecipeModal">Edit Recipe</button>
    </div>
</div>


<!-- Save Recipe form -->
<div class="container text-end mb-4 mt-3">
    <form th:action="@{'/recipes/' + ${recipes.recipeid} + '/favorite'}" method="post">
        <button type="submit" class="custom-button">Save Recipe</button>
    </form>
</div>

<!-- Meal Planner form -->
<div class="container text-end">
    <form th:action="@{/mealplanner/add}" method="post">
        <input type="hidden" th:value="${recipes.recipeid}" name="recipeId"/>
        <input type="date" name="date" class="custom-button"/>
        <input type="submit" value="Add to Meal Planner" class="custom-button"/>
    </form>
</div>



<div class="comments-section">
    <h3>Like this recipe? Tell us how it turned out!</h3>
    <div class="text-center mb-4 ">
        <button type="button" class="custom-button mt-2" data-toggle="modal" data-target="#ratingModal">
            Write your review!
        </button>
    </div>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <div th:each="comment, commentStatus : ${comments}" class="comment-rating-container">
                    <div class="review-card card px-4 py-2">
                        <div class="gold-stars-container">
                            <div class="gold-stars" th:attr="data-rating=${reviews[commentStatus.index].rating}"></div>
                        </div>
                        <div class="comment-info">
                            <p th:text="${comment.comment}"></p>
                            <a th:href="@{'/users/' + ${comment.user.id}}" th:text="${comment.user.username}" class="comment-user"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Bootstrap Modal for Reviewing Recipe -->
<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingModalLabel">Rate the Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form th:action="@{'/recipes/' + ${recipes.recipeid}}" th:object="${review}" th:method="post">
                <div class="modal-body">
                    <div class="form-check form-check-inline">
                        <input th:field="*{rating}" class="form-check-input" type="radio" id="star5" value=5
                               name="ratingGroup">
                        <label class="form-check-label star-icon" for="star5">
                            <i class="fas fa-star"></i>
                            5
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input th:field="*{rating}" class="form-check-input" type="radio" id="star4" value=4
                               name="ratingGroup">
                        <label class="form-check-label star-icon" for="star4">
                            <i class="fas fa-star"></i>
                            4
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input th:field="*{rating}" class="form-check-input" type="radio" id="star3" value=3
                               name="ratingGroup">
                        <label class="form-check-label star-icon" for="star3">
                            <i class="fas fa-star"></i>
                            3
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input th:field="*{rating}" class="form-check-input" type="radio" id="star2" value=2
                               name="ratingGroup">
                        <label class="form-check-label star-icon" for="star2">
                            <i class="fas fa-star"></i>
                            2
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input th:field="*{rating}" class="form-check-input" type="radio" id="star1" value=1
                               name="ratingGroup">
                        <label class="form-check-label star-icon" for="star1">
                            <i class="fas fa-star"></i>
                            1
                        </label>
                    </div>


                    <!-- Remove the <div class="rating-box"> if not needed -->
                    <div class="rating-box">
                        <h3 class="mb-3">Your Rating:</h3>

                    </div>

                    <div class="container mt-4">
                        <div class="form-group">
                            <label for="comment-modal">Leave a Comment:</label>
                            <textarea th:field="*{comment}" class="form-control" id="comment-modal" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- Corrected function name here -->
                    <button type="submit" class="btn btn-primary">Submit Rating and Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal for Editing Recipe -->
<div class="modal fade" id="editRecipeModal" tabindex="-1" role="dialog" aria-labelledby="editRecipeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRecipeModalLabel">Edit Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/recipes/edit/' + ${recipes.recipeid}}" th:object="${recipes}" method="post">
                    <input type="hidden" name="_method" value="put"/>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" required>
                    </div>
                    <div class="form-group">
                        <label for="ingredients">Ingredients</label>
                        <textarea class="form-control" id="ingredients" th:field="*{ingredients}" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="instructions">Instructions</label>
                        <textarea class="form-control" id="instructions" th:field="*{instructions}" required></textarea>
                    </div>
                    <h3>Diet Styles:</h3>
                    <div th:each="dietStyle : ${allDietStyles}">
                        <input type="checkbox" th:id="${dietStyle.id}" th:value="${dietStyle.id}" th:name="dietStyleIds"
                               th:checked="${#lists.contains(recipeDietStyles, dietStyle)}">
                        <label th:for="${dietStyle.id}" th:text="${dietStyle.name}"></label>
                    </div>
                    <h3>Allergens:</h3>
                    <div th:each="allergen : ${allAllergens}">
                        <input type="checkbox" th:id="${allergen.id}" th:value="${allergen.id}" th:name="allergenIds"
                               th:checked="${#lists.contains(recipeAllergens, allergen)}">
                        <label th:for="${allergen.id}" th:text="${allergen.name}"></label>
                    </div>
                    <div class="form-group">
                        <label for="hours">Hours</label>
                        <input type="number" class="form-control" id="hours" th:field="*{hours}" required>
                    </div>
                    <div class="form-group">
                        <label for="minutes">Minutes</label>
                        <input type="number" class="form-control" id="minutes" th:field="*{minutes}" required>
                    </div>


                    <!-- Hidden fields for the image and nutrition facts -->
                    <input type="hidden" th:field="*{photo}">
                    <input type="hidden" th:field="*{calories}">
                    <input type="hidden" th:field="*{protein}">
                    <input type="hidden" th:field="*{sugar}">
                    <input type="hidden" th:field="*{fats}">
                    <input type="hidden" th:field="*{fibre}">
                    <input type="hidden" th:field="*{carbohydrates}">
                    <input type="hidden" th:field="*{sodium}">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="shroom-image"></div>
<div class="veggie-image"></div>
<div class="BellPepper-image"></div>
<div class="carrot-image"></div>
<div class="Colander-image"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
