<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Ratings</title>
    <link rel="stylesheet" href="/../../resources/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<!-- Recipe Rating Section -->
<div class="rating-section" data-recipe-id="recipes">
  <span class="star" data-rating="1"></span>
  <span class="star" data-rating="2"></span>
  <span class="star" data-rating="3"></span>
  <span class="star" data-rating="4"></span>
  <span class="star" data-rating="5"></span>
</div>

</body>
<script src="/../javascript/ratings.js"></script>

</html>