<!DOCTYPE html>
<html>
<head>
  <title>Recipe Index</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<h1>Recipe Index</h1>

<!-- loop through and display each recipe -->
<ul>
    <th:block th:each="recipe : ${recipes}">
    <li>
      <a th:href="@{/recipes/{id}(id=${recipe.recipeid})}" th:text="${recipe.title}"></a>
    </li>
  </th:block>
</ul>

<div th:replace="partials/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
